<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .home {
      background-color: #007bff;
      border-color: #007bff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      border-radius: 10px;
      color: white!important;
      margin-top: 10px;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand btn btn-light btn-lg mt-3 home" href="/">Home</a>
      </div>
      <div>
        <a href="/users" class="navbar-brand btn btn-light btn-lg mt-3 home">Users</a>
      </div>
    </nav>
  </body>
</html>
